@import 'reset-css/reset';

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';

$tablet: max-width 1024px;
$mobile: max-width 480px;
@import 'bourbon';
@import 'neat';

$bg-color: #181818;
$accent-color: #D62626;
$text-color: #464246;
$hover-color: white;

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: $bg-color;
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: none;
    }
    li:hover a {
        color: $hover-color;
    }
    a:hover figcaption {
        color: $accent-color;
    }
}
nav {
    font-size: 1.25em;
    text-align: center;
    overflow: auto;
    margin: 20px;
    li {
        float: left;
        margin: 0 10px;
    }
    .left {
        float: left;

        li:first-of-type {
            margin-right: 0;
        }
        li:first-of-type:after {
            content: " /";
            color: $text-color;
        }
        li:last-of-type a {
            color: $hover-color;
        }
    }
    .right {
        float: right;

        li:nth-child(2) a {
            color: $accent-color;
        }
        li:nth-child(2) a:hover {
            color: $hover-color;
        }
        ul {
            @include media($tablet) {
                display: none;
            }
        }
        > a {
            display: none;
            font-size: 1.5em;
            @include media($tablet) {
                display: block;
            }
        }
        > a:hover {
            @include media($tablet) {
                color: $hover-color;
            }
        }
    }
}
.header {
    text-align: center;
    margin-bottom: 50px;
    figure {
        max-width: 15%;
        margin: auto;
        position: relative;

        img {
            border-radius: 50%;
            width: 50%;
            @include media($tablet) {
                width: 70%;
            }
            @include media($mobile) {
                width: 100%;
            }
        }
        figcaption {
            font-size: 1.2em;
            font-weight: bold;
            position: absolute;
            top: 75%;
            right: 27%;

            @include media($tablet) {
                font-size: 1em;
                right: 22%;
            }
            @include media($mobile) {
                font-size: 1em;
                top: 60%;
                right: 9%;
            }
        }
    }
}
body > figure {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    @include media($tablet) {
        width: 75%;
    }
    @include media($mobile) {
        width: 90%;
    }
    img {
        width: 100%;
    }
    figcaption {
        font-size: 1.5em;
        color: lighten($text-color, 50%);
        margin-top: 1em;
    }
    figcaption span {
        font-size: .6em;
        color: $text-color;
    }
    .specs {
        position: absolute;
        top: 0;
        right: -130px;

        @include media($tablet) {
                position: static;
                margin-top: 20px;
            }

        p:first-of-type {
            color: $accent-color;
            i {
                color: $text-color;
            }
        }
    }
}
footer {
    text-align: center;
    width: 50%;
    margin: auto;

    @include media($tablet) {
        width: 75%;
    }
    @include media($mobile) {
        width: 90%;
    }
    p {
        color: $hover-color;
        margin-bottom: 1em;
    }
    a {
        width: 50%;
        float: left;

        figure {
            float: left;
            width: 100%;
        }
        img {
            width: 100%;
            max-width: 300px;
            margin: auto;
            padding: 5px;
        }
        figcaption {
            margin: 1em 0;
            @include media($mobile) {
                padding: 0 5px;
            }
        }
    }
}
