@import 'reset-css/reset';

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';

@import 'bourbon';
@import 'neat';

$bg-color: #181818;
$accent-color: #D62626;
$text-color: #464246;
$hover-color: white;

html {
  font-family: sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: $bg-color;
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: none;
    }
    li:hover a {
        color: $hover-color;
    }
    a:hover figcaption {
        color: $accent-color;
    }
}
nav, .header {
    @include span-columns(12);
}
nav {
    font-size: 1.25em;
    li {
        float: left;
        margin: 0 10px;
    }
    .left {
        @include span-columns(3);

        li:first-of-type {
            margin-right: 0;
        }
        li:first-of-type:after {
            content: " /";
            color: $text-color;
        }
        li:last-of-type a {
            color: $hover-color;
        }
    }
    .right {
        @include span-columns(3);
        @include shift(9);

        li:nth-child(2) a {
            color: $accent-color;
        }
        li:nth-child(2) a:hover {
            color: $hover-color;
        }
    }
}
.header {
    figure {
        @include span-columns(2);
        @include shift(5);
        img {
            border-radius: 50%;
        }
    }
}
body > figure {
    @include outer-container(1024px);

    img, figcaption {
        @include span-columns(6);
        @include shift(3);
    }
    .specs {
        @include span-columns(3);
    }
}
footer {
    @include outer-container(1024px);
    a {
        float: left;
        margin: 10px;
    }
}
