@import 'reset-css/reset';

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';

@import 'bourbon';
@import 'neat';

$bg-color: #181818;
$accent-color: #D62626;
$text-color: #464246;
$hover-color: white;

html {
  font-family: sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: $bg-color;
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: none;
    }
    li:hover a {
        color: $hover-color;
    }
    a:hover figcaption {
        color: $accent-color;
    }
}
nav, .header {
    @include span-columns(12);
}
nav {
    font-size: 1.25em;
    text-align: center;
    li {
        float: left;
        margin: 0 10px;
    }
    .left {
        @include span-columns(3);

        li:first-of-type {
            margin-right: 0;
        }
        li:first-of-type:after {
            content: " /";
            color: $text-color;
        }
        li:last-of-type a {
            color: $hover-color;
        }
    }
    .right {
        @include span-columns(3);
        @include shift(9);

        li:nth-child(2) a {
            color: $accent-color;
        }
        li:nth-child(2) a:hover {
            color: $hover-color;
        }
    }
}
.header {
    text-align: center;
    margin-bottom: 50px;
    figure {
        @include span-columns(2);
        @include shift(5);
        position: relative;
        img {
            border-radius: 50%;
        }
        figcaption {
            position: absolute;
            left: 30%;
            bottom: 10%;
        }
    }
}
body > figure {
    @include outer-container(1024px);
    position: relative;
    margin-bottom: 50px;

    img, figcaption {
        @include span-columns(6);
        @include shift(3);
    }
    figcaption {
        font-size: 1.5em;
        color: lighten($text-color, 50%);
        margin-top: 1em;
    }
    figcaption span {
        font-size: .6em;
        color: $text-color;
    }
    .specs {
        @include span-columns(3);
        position: absolute;
        top: 0;
        right: -50px;
    }
}
footer {
    @include span-columns(6);
    @include shift(3);
    text-align: center;

    figure {
        @include row();
    }
    p {
        color: $hover-color;
        margin-bottom: 1em;
    }
    a {
        float: left;
        margin: 10px;
    }
    figcaption {
        margin-top: 1em;
    }
}
